.bgr {
   height: 500px; /* Tăng từ 300px lên 500px */
   background-image: url('../../image/bg_header.webp');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 10px 20px;
   margin-top: 20px;
   width: 100%;
   padding: 90px 100px;
}
