.ant-menu-item-group-title:hover {
  background-color: rgb(205, 205, 205);
}

.ant-menu-title-content {
  color: green;
}

/* Add margin-top to the menu container */
.ant-menu {
  margin-top: 20px !important;
}
